*{
    font-family: "Frank Ruhl Libre",Georgia,serif;
    color: rgb(33, 33, 33);
}
h1{
    
    padding: 5px;
    
}
img{
   
    border-radius: 10% ;
    text-align: center;
}
h1,h2,h3 { 
    text-align: center;
    margin: 5px;
    width: fit-content;
    height: fit-content;
    
  
}


p{
    color: rgb(35, 39, 39);
    text-align: justify;
}
ul{
    
    color: rgb(35, 39, 39);
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a:link{
    text-decoration: none;
    
}

